# Marcels Projections

This notebook provides a simple example for computing Marcel projections using `pybaseball`. You can learn more about the Marcels forecasting system [here](http://tangotiger.net/marcel/).

In [1]:
import pandas as pd
from pybaseball.analysis.projections.marcels import MarcelProjectionsPitching
from pybaseball.analysis.projections.marcels import MarcelProjectionsBatting
from pybaseball.lahman import people

In [2]:
ppl = people()  # for merging player names onto the projections
ppl['Player'] = ppl['nameFirst'].str.cat(ppl['nameLast'], ' ')
marcel_batting = MarcelProjectionsBatting()
marcel_pitching = MarcelProjectionsPitching()

In [3]:
pitchers = marcel_pitching.projections(2022)
batters = marcel_batting.projections(2022)
pitchers = pd.merge(ppl[['playerID', 'Player']], pitchers, on='playerID', how='right')
batters = pd.merge(ppl[['playerID', 'Player']], batters, on='playerID', how='right')

We can then sort the two dataframes to view the projected top performers

In [4]:
pitchers.sort_values('H', ascending=False).head()

,playerID,Player,H,HR,ER,BB,SO,HBP,R
332,hendrky01,Kyle Hendricks,163.146102,24.169683,76.104181,40.045820,128.081024,9.020081,81.369504
157,corbipa01,Patrick Corbin,161.745335,27.173010,84.634397,54.622500,142.507577,3.553560,89.012629
450,lylesjo01,Jordan Lyles,160.409881,29.774816,87.640569,55.030808,132.279093,5.837493,92.109734
362,irvinco01,Cole Irvin,157.804096,20.481086,74.464071,42.945471,120.344710,7.705781,82.081408
215,eovalna01,Nathan Eovaldi,156.433986,18.773307,72.004957,41.826268,162.341505,7.442949,76.585191

In [5]:
batters.sort_values('HR', ascending=False).head()

,playerID,Player,1B,2B,3B,HR,BB,HBP,SB,CS,SO,SH,SF
457,perezsa02,Salvador Perez,79.766021,23.153460,0.462172,34.637249,27.588166,9.246612,2.549379,0.527804,136.162346,0.233162,3.343123
19,alonspe01,Pete Alonso,64.486815,22.145400,1.847228,33.491687,53.438600,11.878372,2.742784,0.374421,123.623150,0.161206,2.990708
577,tatisfe02,Fernando Tatis,67.706886,24.646915,2.545753,33.192593,52.889644,5.044703,19.861542,4.424568,127.836220,0.186770,3.458426
435,olsonma02,Matt Olson,66.517193,25.197639,0.664957,31.850932,66.383967,7.804460,3.087218,0.790537,121.092856,0.172391,5.161963
165,duvalad01,Adam Duvall,56.534760,17.076189,1.618264,31.047919,34.636132,4.950462,3.807755,0.487355,143.681977,0.207985,2.799483